// 1. Variables
// color variables
$blk: #010101;
$wht: #fefefe;
$main: #1e561e;
$sec: #7a310a;
$acc: #610345;
$alta: #b57901;
$altb: #000767;
$blur: rgba(49, 49, 49, 0.9);
// font variables
$light: "Roboto", sans-serif;
$reg: "Roboto", sans-serif;
$med: "Roboto", sans-serif;
$bold: "Roboto", sans-serif;
$head: "Roboto", sans-serif;
// spacing and layout variables
$gridcol: auto;
$gridrow: auto;
$spc: 0px auto;
$lspc: 0px auto 0px auto;
$size: 1.125rem;
$flow: row wrap;
$contain: 90%;
// 3. Mixins
@mixin font($light, $size) {
    font-family: $light;
    font-size: $size;
    font-weight: normal;
    font-style: normal;
}
@mixin marg($spc) {
    margin: $spc;
}
@mixin padd($spc) {
    padding: $spc;
}
@mixin margl($lspc) {
    margin: $lspc;
}
@mixin paddl($lspc) {
    padding: $lspc;
}
@mixin flex($flow) {
    display: flex;
    flex-flow: $flow;
}
@mixin grid($gridcol, $gridrow) {
    display: grid;
    grid-template-columns: $gridcol;
    grid-template-rows: $gridrow;
}
@mixin contain($contain) {
    width: $contain;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
@mixin imgsize($size) {
    width: $size;
    height: $size;
}
//media query mixins
@mixin lapl {
  @media (min-width: 1600px) { @content; }
}
@mixin tab {
  @media (max-width: 1280px) and (min-width: 876px) { @content; }
}
@mixin mob {
  @media (max-width: 875px) { @content; }
}

// 6. Projects Section
#projects {
    position: relative;
    .line {
        border-bottom: 10px solid $acc;
        position: relative;
        z-index: 3;
    }
    ul, ol {
        list-style-type: none;
    }
}
#projects #p-menu {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: $main;
    color: $wht;
    ul {
        @include contain($contain);
        display: flex;
        gap: 0px;
        @include mob {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0px;
            .proj-active {
                flex: 100%;
                order: 3;
                opacity: 1;
                font-size: 1rem;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        .proj-active {
            background-color: $acc;
            color: $wht;
            .diamond {
                transform: translateY(50%) rotate(45deg);
                background-color: $main
            }
        }
    }
    li {
        @include font($head, 1.25rem);
        position: relative;
        z-index: 2;
        padding: 25px 12.5px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
            background-color: $acc;
            color: $wht;
        }
        @include mob {
            font-size: 0.8rem;
            opacity: 0.6;
            padding-top: 10px;
            padding-bottom: 10px;
            text-wrap: nowrap;
            flex: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            .diamond {
                bottom: 0px;
                margin: 0px;
                display: none;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

#projects .accord {
    display: none;
}
#projects .accord.proj-active {
    display: block;
}

#projects .card{
    position: relative;
    z-index: 1;
    background-image: url("../media/id/final-251-3d-paper-model-photograph.jpg");
    background-size: cover;
    .container {
        @include contain($contain);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: ". cont";
        @include mob {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "cont" ".";
        }
    }
    .content {
        grid-area: cont;
        padding: 100px 0px 100px 25px;
        p {
            margin: 10px 0px 20px;
        }
        @include mob {
            padding: 50px 0px 0px;
        }
    }
    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        .btn {
            flex: 1;
        }
    }
    .cblock {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        z-index: -1;
        background-color: #fefefe55;
        backdrop-filter: blur(20px);
        @include mob {
            height: 60%;
            width: 100%;
        }
    }
    &:last-child .cblock::after {
        background: linear-gradient(to bottom, #b5790155 20%, $acc 100%);
        mix-blend-mode: normal;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}